// Brand Colors
$sidebar-black: #0d0d0d;
$bg-beige: #f3e9dc;
$white: #ffffff;
$primary-orange: #ff6b35;

// Status Colors
$green-bg: #dcfce7;
$green-text: #166534;
$red-bg: #fee2e2;
$red-text: #991b1b;
$yellow-bg: #fef9c3;
$yellow-text: #854d0e;